* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman';
    font-style: normal;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.header {
    background-color: #FFE138;
    padding:50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width:100%;

}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 100%
}

.column {
    display: flex;
    flex-direction: column;
    margin: 25px;
    border: 1px solid #000000;
    max-width: 400px;
}

.text {
    display:flex;
    flex-direction: column;
    margin: 33px 30px;
}

h4 {
    margin-bottom: 30px;
}

.picture {
    display: inline-block;
    /* overflow: hidden;  */
    width:100%;
}

  /* Макет для десктопов */
@media only screen and (min-width: 700px) {

    /* .page {
      width: 960px;
    } */

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 45px;
        justify-content: center;
        align-items: flex-start;
        width: 100%
    }

  }